<!DOCTYPE html>

<%- include('head'); %>

<style>
  main{
    display: flex;
    color: azure;
  }
</style>

<body>
  <%- include('aside') %>
  <main>
    <div>
      <h1></h1>
    </div>

    <div>padas</div>


    
  </main>
</body>

</html>