<!DOCTYPE html>

<%- include('head'); %>

<style>
 main{
   margin: auto;
 }
</style>

<body>
  <%- include('aside') %>
  <main>
    <img class="base1" src="https://github.com/Drlazinho/Supaginas-Game/blob/master/assets/elementos/base1.png?raw=true" alt="" width="100%"> 
  </main>
</body>

</html>