<!DOCTYPE html>
  <%- include('head'); %>

  <style>
    main{
      margin: auto;
    }
   </style>

<body>
  <nav>
    <ul>
      <li><a href=""><img src="" alt=""></a></li>
      <li><a href=""><img src="" alt=""></a></li>
      <li><a href=""><img src="" alt=""></a></li>
    </ul>
  </nav>

</body>
</html>