<!DOCTYPE html>
  <%- include('head'); %>

  <style>
    main{
      margin: auto;
    }
   </style>

<body>
  <%- include('aside') %>
  <%- include('nav') %>
  <main>

    <img src="https://github.com/Drlazinho/Supaginas-Game/blob/master/assets/elementos/base2.png?raw=true" alt="" width="100%">
  </main>

</body>
</html>