<!DOCTYPE html>

<%- include('head'); %>
<style>
  main{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-style: bold;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: .3s linear;
  }

  button:hover{
    background-color: rgb(213, 176, 247);
  }
 </style>
<body>
  <%- include('nav') %>
  <%- include('aside') %>
  <main>
    <img src="https://github.com/Drlazinho/Supaginas-Game/blob/master/assets/elementos/base3.png?raw=true" width="100%" alt="">

    <button>Um Botão</button>
  </main>
</body>

</html>